

/*Drop down menu*/
.dropdown {
 
  margin: 0 1rem;
  font-family: "Oswald", sans-serif;
  text-transform: none;
  font-size: 1.25rem;
  color: #4a4a4a;
  /*We want these buttons to have a decent touch area so they are easy to click/tap*/
  display: inline-block;
  min-height: 2.8125rem;
  align-items: center;
  /*Styles needed for the button only*/
  border: 2rem;
  background: none;
  width:50%;
  
}
.rwd-MastHead{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dropContainer{
  display: flex;
  margin-top: 20%;
  margin-bottom: 20%;
}

.dropdown-content {
  display: none;
  color: black;
  position: relative;
  background-color: #0d63be;
  min-width: 4rem;
  border-radius: 1rem;
}

.dropdown-content a {
  color: black;
  padding: 0;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(68, 215, 241);
  color: rgb(12, 12, 12);
}

.dropdown:hover .dropdown-content {
  margin: 1rem 3rem;
  padding: 0 0.25rem;
  display: block;
  flex-wrap: nowrap;
  text-decoration: none;
  text-align: center;
}

.dropdown:hover .dropbtn {
  background-color: rgb(68, 215, 241);
  color: black;
  transition: 50s;
}

div{
  font-size: 110%;
}

.dropbtn{
  color: black;
  font-size: 15px;
  background-color: rgb(240, 240, 240);
  padding: 10px 10px;
  margin: 10px 10px;
  border: none;
  box-sizing: border-box;
  border-style: inset;
  border-width: thin;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
}

/* senario section*/
[class^="senario-"] figure {
  overflow: hidden;
  display: grid;
  place-content: center;
  border-radius: 0.5rem;
}

[class^="senario-"] figure img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 1rem;
}

[class^="senario-"] p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1.5rem 3.2rem;
  text-align: justify;
}




.title {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}






.logBox {
  width: 80%;
  height: 50%;
  margin-left: 10%;
  margin-right: 10%;
}


span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.settingsButton {
  margin: 0;
  position: absolute;
  left: 50%;
  margin-top: 1.25%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* Style the hamburger menu */
.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.container {
  /* cursor: pointer; */
  display: inline-block;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: rgba(136, 0, 20, 0.671);
  margin: 6px 0;
  transition: 0.4s;
}


.burgerMenu:hover div{
  background-color: gray;
}

.titleSection {
  display: flex;
  margin-left: 5%;
  padding-top: 5%;
  margin-right: 5%;
  justify-content: space-between;
  align-items: center;
}
h1{
    color: rgba(136, 0, 20, 0.671);
}

.mainPage{
    /* height:100%; */
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
    
}

body{
    border-top-width:0px; 
    width: 100%;
    position: relative;
    background-color:rgb(240, 240, 240);
    padding-left: 20%;
    padding-right: 20%;
    overflow-y: scroll;
}

.senarioBody{
  /* background-color: white; */
  padding-left: 20%;
  padding-right: 20%;
}


.senarioinfo{
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  /* overflow: scroll; */
  /* margin-bottom: 10%; */
  padding-bottom: 10%;
}


.showStats{
    font-size: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    justify-content: space-evenly;
    display: flex;
}

.happiness{
    background-color: rgb(240, 240, 240);
    display: inline-block;
    width:45%;
    border-radius: 25px;
}

.happinessBar{
    color: rgb(197, 197, 0);
    padding-bottom: 1%;
}

.moneyBar{
    color: rgb(46, 189, 46);
    padding-bottom: 1%;
}

.money{
    background-color:rgb(240, 240, 240);
    display: inline-block;
    width:45%;
    border-radius: 25px;
}



.logBox{
    
    background-color:rgb(240, 240, 240);
    border-radius: 25px;
    width: 80%;
    height: 50%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 200%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.senarioImage{
  height:10%;
  width:50%;
}

.logBoxText{
	font-size: 100%;
	vertical-align: initial;
}

.wallet{
	font-size: 150%;
}

.goalContainer{
    height: 50%;
    width: auto;
    margin-left: 5%;
    display: flex;
    
}

.goalText{
    width: 100%;
}
    
/* 
.goalSpan{
    display:block;
} */

.goalBox{
    height: fit-content;  
    /* display: auto;  */
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(240, 240, 240);
    border-radius: 25px;
    text-align: center;
    width: 50%;
}

.goalSpan{
    width:100%;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  } 

.settingsButton{
    background: url();
    margin: 0;
  position: absolute;
  left: 50%;
  margin-top: 1.25%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

}
/* Style the hamburger menu */




/*Home Button*/
.homebtn {
  
  color: black;
  font-size: 100%;
  background-color: rgb(240, 240, 240);
  padding: 10px 10px;
  margin: 10px 10px;
  border: none;
  box-sizing: border-box;
  border-style: inset;
  border-width: thin;
  border-radius: 50px;
  cursor: pointer;
  width: 120px;
}
.homebtn:hover {
  background-color: lightblue;
  color: #000;
}

/*Drop down menu*/
.dropdown {
  display: flex;
  margin: 0 1rem;
  font-family: "Oswald", sans-serif;
  text-transform: none;
  font-size: 1.25rem;
  color: #4a4a4a;
  /*We want these buttons to have a decent touch area so they are easy to click/tap*/
  display: inline-block;
  min-height: 2.8125rem;
  align-items: center;
  /*Styles needed for the button only*/
  border: 2rem;
  background: none;
}
.dropdown-content {
  /* display: none; */
  position: relative;
  background-color: #faf320;
  min-width: 4rem;
  border-radius: 1rem;
}

.dropdown-content a {
  color: black;
  padding: 0;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(68, 215, 241);
  color: rgb(12, 12, 12);
}

.dropdown:hover .dropdown-content {
  margin: 1rem 3rem;
  padding: 0 0.25rem;
  display: block;
  flex-wrap: nowrap;
  text-decoration: none;
  text-align: center;
}






.button{
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
    width:100%;
    height:100%; 
}

@media only screen and (max-width:1500px) {
  body {
    padding-left: 0%;
    padding-right: 0%;
  }
  .senarioBody{
    padding-left: 0%;
    padding-right: 0%;
  }
  .senarioinfo{
    padding-left: 10%;
    padding-right: 10%;
  }
  .logBox{
    font-size: 130%;
  }
  
}